!Lab*/**/*.ipynb
!Lab*/**/*.pdf
!Lab*/**/*.md

!Assignment*/**/*.ipynb
!Assignment*/**/*.pdf
!Assignment*/**/*.md

**/*.xclbin
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Kernel module build artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
Module.symvers
modules.order