# Ignore everything inside Lab1
#Lab*/*
#Assignment*/*
# Re-allow directories under Lab1 (so Git can recurse)
#!Lab*/*/
#!Assignment*/*
# Re-allow Jupyter notebooks inside Lab1
!Lab*/**/*.ipynb
!Lab*/**/*.pdf
!Lab*/**/*.md

!Assignment*/**/*.ipynb
!Assignment*/**/*.pdf
!Assignment*/**/*.md

**/*.xclbin